<div>
    <h2>Pacientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="paciente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Paciente
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Cpf</span></th>
                    <th><span>Nome</span></th>
                    <th><span>Plano Saude</span></th>
                    <th><span>Endereco</span></th>
                    <th><span>Medico</span></th>
                    <th><span>Enfermeiro</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="paciente in vm.pacientes track by paciente.id">
                    <td><a ui-sref="paciente-detail({id:paciente.id})">{{paciente.id}}</a></td>
                    <td>{{paciente.cpf}}</td>
                    <td>{{paciente.nome}}</td>
                    <td>{{paciente.planoSaude}}</td>
                    <td>{{paciente.endereco}}</td>
                    <td>
                        <span ng-repeat="medico in paciente.medicos">
                            <a class="form-control-static" ui-sref="medico-detail({id: medico.id})">{{medico.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="enfermeiro in paciente.enfermeiros">
                            <a class="form-control-static" ui-sref="enfermeiro-detail({id: enfermeiro.id})">{{enfermeiro.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="paciente-detail({id:paciente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="paciente.edit({id:paciente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="paciente.delete({id:paciente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
